## <font color="maroon"><h4 align="center">Read/Write CSV and Excel Files (Exercise)</font>

In [1]:
import pandas as pd

### <font color="purple">**Question1**</font>
- Read the csv file with name "movies_data.csv"
- Show the Top5 rows

In [3]:
#read the csv file into the variable 'df'
df = pd.read_csv("movies_data.csv")

#show the top 5 rows
df.head(5)

,movie_id,title,industry,language,release_year,imdb_rating,studio,budget,revenue,unit,currency
0,101,K.G.F: Chapter 2,Bollywood,Kannada,2022,8.4,Hombale Films,1.0,12.5,Billions,INR
1,102,Doctor Strange in the Multiverse of Madness,Hollywood,English,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD
2,103,Thor: The Dark World,Hollywood,English,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD
3,104,Thor: Ragnarok,Hollywood,English,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD
4,105,Thor: Love and Thunder,Hollywood,English,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD

### <font color="purple">**Question2**</font>
- Add a new column "year_classify" to the above dataframe.
- If release_year is less than 2000, then 'before 2000' or else 'From 2000'

In [11]:
#add the column "year_classify"
df['year_classify'] = ['before 2000' if year < 2000 
                       else 'From 2000' 
                       for year in df['release_year']]

#show the df
df.head(10)

,movie_id,title,industry,language,release_year,imdb_rating,studio,budget,revenue,unit,currency,year_classify
0,101,K.G.F: Chapter 2,Bollywood,Kannada,2022,8.4,Hombale Films,1.0,12.5,Billions,INR,From 2000
1,102,Doctor Strange in the Multiverse of Madness,Hollywood,English,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,From 2000
2,103,Thor: The Dark World,Hollywood,English,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,From 2000
3,104,Thor: Ragnarok,Hollywood,English,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,From 2000
4,105,Thor: Love and Thunder,Hollywood,English,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,From 2000
5,111,The Shawshank Redemption,Hollywood,English,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,before 2000
6,113,Interstellar,Hollywood,English,2014,8.6,Warner Bros. Pictures,165.0,701.8,Millions,USD,From 2000
7,115,The Pursuit of Happyness,Hollywood,English,2006,8.0,Columbia Pictures,55.0,307.1,Millions,USD,From 2000
8,116,Gladiator,Hollywood,English,2000,8.5,Universal Pictures,103.0,460.5,Millions,USD,From 2000
9,117,Titanic,Hollywood,English,1997,7.9,Paramount Pictures,200.0,2202.0,Millions,USD,before 2000

### <font color="purple">**Question3**</font>

- Save the above dataframe with the name "final_movie_data.csv" and include only columns 'movie_id', 'title', 'budget', 'revenue' and 'year_classify'. Also set index to False**.

In [17]:
#save the dataframe
selected_columns = ['movie_id', 'title', 'budget', 'revenue', 'year_classify']

# Create a new DataFrame with only the selected columns
final_movie_data = df[selected_columns]
final_movie_data

,movie_id,title,budget,revenue,year_classify
0,101,K.G.F: Chapter 2,1.00,12.5,From 2000
1,102,Doctor Strange in the Multiverse of Madness,200.00,954.8,From 2000
2,103,Thor: The Dark World,165.00,644.8,From 2000
3,104,Thor: Ragnarok,180.00,854.0,From 2000
4,105,Thor: Love and Thunder,250.00,670.0,From 2000
5,111,The Shawshank Redemption,25.00,73.3,before 2000
6,113,Interstellar,165.00,701.8,From 2000
7,115,The Pursuit of Happyness,55.00,307.1,From 2000
8,116,Gladiator,103.00,460.5,From 2000
9,117,Titanic,200.00,2202.0,before 2000
10,118,It's a Wonderful Life,3.18,3.3,before 2000
11,119,Avatar,237.00,2847.0,From 2000
12,120,The Godfather,7.20,291.0,before 2000
13,121,The Dark Knight,185.00,1006.0,From 2000
14,122,Schindler's List,22.00,322.2,before 2000
15,123,Jurassic Park,63.00,1046.0,before 2000
16,124,Parasite,15.50,263.1,From 2000
17,125,Avengers: Endgame,400.00,2798.0,From 2000
18,126,Avengers: Infinity War,400.00,2048.0,From 2000
19,137,Captain America: The First Avenger,216.70,370.6,From 2000
20,138,Captain America: The Winter Soldier,177.00,714.4,From 2000
21,107,Dilwale Dulhania Le Jayenge,400.00,2000.0,before 2000
22,108,3 Idiots,550.00,4000.0,From 2000
23,109,Kabhi Khushi Kabhie Gham,390.00,1360.0,From 2000
24,110,Bajirao Mastani,1.40,3.5,From 2000
25,128,Taare Zameen Par,120.00,1350.0,From 2000
26,129,Munna Bhai M.B.B.S.,100.00,410.0,From 2000
27,130,PK,850.00,8540.0,From 2000
28,131,Sanju,1.00,5.9,From 2000
29,135,The Kashmir Files,250.00,3409.0,From 2000
30,136,Bajrangi Bhaijaan,900.00,11690.0,From 2000
31,139,Race 3,1.80,3.1,From 2000
32,140,Shershaah,500.00,950.0,From 2000
33,127,Pather Panchali,70000.00,100000.0,before 2000
34,132,Pushpa: The Rise - Part 1,2.00,3.6,From 2000
35,133,RRR,5.50,12.0,From 2000
36,134,Baahubali: The Beginning,1.80,6.5,From 2000

In [18]:
final_movie_data.to_csv('final_movie_data.csv', index=False)